{{titulo}}
<p>Este es el resultado de sumar las edades de los usuarios: {{edad_usuario1 + edad_usuario2}}</p>
<h5>Los principales frameworks de JS son {{elementos.length}}: </h5>
<ul>
    <li> {{ elementos[0] }} </li>
    <li> {{ elementos[2] }} </li>
    <li> {{ elementos[1] }} </li>
</ul>

<h5>La suma de la edad de todos los usuarios es: {{ edad_usuario1 + edad_usuario2 }}</h5> 
<h5>La suma de la edad de todos los usuarios es: {{ suma_edades }}</h5> 



<!-- PROBAR 
 EJERCICIO 1
    1. Crea dos propiedades en tu componente de tipo number que almacenen valores de números enteros
    2. Crea una tercera propiedad cuyo valor, sea la suma de los valores de las dos propiedades creadas en el punto 1
    3. Muesta el resultado de la operación en la vista

EJERCICIO 2
     1. Crea otras dos propiedades en tu componente de tipo number que almacenen valores de números enteros
     2. Muestra el resultado de la suma de ambas, realizando la operación directamente en la vista

EJERCICIO 3
    1. Crea una propiedad (musica, peliculas, videjuegos), que almacene una colección de valores relativos a esa propiedad
    2. Muestra los valores de la propiedad creada en el punto 1, en una lista desordenada en el template, intercambia la posición de los valores de la lista añadiendo los index de forma desordenada en los li
    3. Muestra el número total de elementos que contiene tu lista utilizando el método lenght.
     -->